body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  color: #0D0C0C;
}

.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
}
.small-span{
  color: #969696;
}
.music-player{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900px;
}
button{
  font-size: 18px;
  border: 1px solid white;
  padding: 15px;
  color: white;
  background: transparent;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
}